@media (min-width: 768px) {
    .navbar-expand-md .navbar-light .nav-link:not(.dropdown-toggle).active:after,
    .navbar-expand-md.navbar-light .nav-link:not(.dropdown-toggle).active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -.6rem;
        border: 0 solid #206bc4;
        border-bottom-width: 2px;
    }
}

.navbar-brand .logo:before {
    content: '';
    position: relative;
    display: block;
    width: 40%;
    right: 0;
    border: 0 solid #206bc4;
    border-top-width: 4px;
}

.navbar-brand {
    font-size: x-large;
}

.nav .nav-tabs {
    border-bottom: none;
}

.accordion-item, .accordion-button {
    background-color: #fff;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.navbar .navbar-nav .nav-link .badge {
    position: static;
    top: .375rem;
    right: .375rem;
    transform: translate(0%,0%);
}

@media (min-width: 768px) {
    .navbar .navbar-nav .nav-link .badge {
    position: absolute;
    top: .375rem;
    right: .375rem;
    transform: translate(50%,-50%);
}
}

#ss-connect-dialog {
    display: none !important;
    width: 0px;
    height: 0px;
    padding: 0px;
}

#ss-connect-dialog label {
    display: none;
}

#ss-connect-dialog a {
    display: none;
}

.custom-legend {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border: 2px solid #444; /* Dark border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 5px #000; /* Shadow for depth */
    padding: 10px; /* Inner spacing */
}
